<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index::head">

</head>
<body>
<th:block th:replace="index::script"></th:block>
<section>
    <nav th:replace="index :: navbar"></nav>
    <div class="container b-col-white" th:object="${auction}">
        <a class="f-col-red" th:if="${error}" th:text="${error}"></a>
        <a class="f-col-black margin-1em" th:text="${auction.category.categoryName}"
           th:href="@{/list/{category}(category = ${auction.category.getCategoryName()})}">Category</a>
        <h3 th:text="*{title}">Auction title</h3>
        <div>
            <div class="disp-flex">
                <div class="width-40per margin-1em">
                    <div id="carousel" class="carousel slide" data-ride="carousel"
                         th:if="${#lists.size(auction.images)} != 0">
                        <div class="carousel-inner" role="listbox">
                            <div class="item active" th:each="image: ${auction.images}" th:if="${image.isMainPhoto()}"
                                 hidden>
                                <img th:id="${image.id}" class="img-carousel" th:src="@{${'/getImage/'+ image.id}}"
                                     th:alt="${auction.title}">
                            </div>
                            <div class="item" th:each="image: ${auction.images}" th:unless="${image.isMainPhoto()}">
                                <img th:id="${image.id}" class="img-carousel" th:src="@{${'/getImage/'+ image.id}}"
                                     th:alt="${auction.title}">
                            </div>
                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="width-40per float-left margin-1em" th:object="${auctionOwner}">
                    <div class="tx-align-left">
                        <div>
                            <a class="f-col-black f-wgh-200">Użytkownik:
                                <a class="f-col-black f-wgh-600 f-size-large padd-5per" th:text="*{name}">User name</a>
                            </a>
                        </div>
                        <div>
                            <a class="f-col-black f-wgh-200">Lokalizacja:
                                <a class="f-col-black f-wgh-600 f-size-large padd-5per"
                                   th:text="${auction.localization}">Localization</a>
                            </a>
                        </div>
                        <div>
                            <h5><a class="label label-primary" th:href="@{/showAuctions/{user}(user=*{name})}">Inne ogłoszenia użytkownika</a></h5>
                        </div>
                        <div>
                            <h5><a class="label label-primary" th:href="@{/addToObserved/{id}(id=${auction.id})}">Dodaj do obserwowanych</a></h5>
                        </div>
                        <div>
                            <h2>
                                <button type="button" class="btn btn-warning">Wyślij wiadomość</button>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="width-100per margin-1em">
            <p th:text="${auction.description}"></p>
        </div>
    </div>
</section>

</body>
</html>