<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="index::head">

</head>
<body>
<th:block th:replace="index::script"></th:block>
<nav th:replace="index :: navbar"></nav>
<div class="container">
    <span class="f-col-red" th:if="${error}" th:text="${error}"></span>
    <table class="table-list">
        <tr class="table-row" th:each="auction: ${auctions}">
            <td class="table-data-image b-col-green-grey min-width-17em">
                <a th:href="@{/auction/{id}(id=${auction.id})}"/>
                <img class="list-image" th:if="${#lists.size(auction.images)} == 0" th:src="@{${'/getImage/97'}}" th:alt="${auction.getTitle()}">
                <img class="list-image" th:each="image:${auction.images}"  th:if="${image.isMainPhoto()}"
                     th:src="@{${'/getImage/'+ image.id}}">
            </td>
            <td class="table-data v-al-top b-col-green-grey tx-align-left padd-10px">
                <div>
                    <span class="f-col-red" th:if="${error}" th:text="${error}"></span>
                    <a th:href="@{/auction/{id}(id=${auction.id})}" class="f-col-black f-wgh-600"
                       th:text="${auction.getTitle()}"></a><br><br>
                    <a th:href="@{/auction/{id}(id=${auction.id})}" class="f-col-black f-wgh-200"
                       th:text="${#strings.abbreviate(auction.description,300)}"></a>
                </div>
            </td>
            <td>
                <div sec:authorize="isAuthenticated()">
                    <button type="button" th:onclick="'javascript:httpGet('+ ${auction.id} +');'" class="btn btn-primary" aria-hidden="true" title="Dodaj do obserwowanych"><span class="glyphicon glyphicon-plus"></span></button>
                </div>
            </td>
        </tr>
    </table>

    <div th:if="${totalPages > 0}" class="pagination"
         th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{/list/{inParam}(inParam=${inParam},size=${auctions.size}, page=${pageNumber})}"
           th:text="${pageNumber}"
           th:class="${pageNumber==auctions.number + 1} ? active"></a>
    </div>

</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    function httpGet(id) {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", '/addToObserved/' + id, false);
        xmlHttp.send(null);

    }

    /*]]>*/
</script>
</body>
</html>