<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="index::head">

</head>
<body>
<th:block th:replace="index::script"></th:block>
<nav th:replace="index :: navbar"></nav>
<div class="container">
    <span class="f-col-red" th:if="${error}" th:text="${error}"></span>
    <table class="table-list">
        <tr class="table-row" th:each="auction: ${auctions}">
            <td class="table-data-image b-col-green-grey">
                <a th:href="@{/auction/{id}(id=${auction.id})}"/>
                <img class="list-image" th:if="${#lists.size(auction.images)} == 0" th:src="@{${'/getImage/449'}}" th:alt="${auction.getTitle()}">
                <img class="list-image" th:each="image:${auction.images}"  th:if="${image.isMainPhoto()}"
                     th:src="@{${'/getImage/'+ image.id}}">
            </td>
            <td class="table-data v-al-top b-col-green-grey tx-align-left padd-10px">
                <div>
                    <span class="f-col-red" th:if="${error}" th:text="${error}"></span>
                    <a th:href="@{/auction/{id}(id=${auction.id})}" class="f-col-black f-wgh-600"
                       th:text="${auction.getTitle()}"></a><br><br>
                    <a th:href="@{/auction/{id}(id=${auction.id})}" class="f-col-black f-wgh-200"
                       th:text="${#strings.abbreviate(auction.description,300)}"></a>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <a type="button" th:href="@{/stopObserve/{id}(id=${auction.id})}"
                            class="glyphicon glyphicon-remove v-al-bottom float-right f-col-black" aria-hidden="true"
                            title="Przestań obserwować"></a>
                </div>
            </td>
        </tr>
    </table>


</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    function httpGet(id) {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", '/addToObserved/' + id, false);
        xmlHttp.send(null);

    }

    /*]]>*/
</script>
</body>
</html>