<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="index::head">

</head>
<body>
<th:block th:replace="index::script"></th:block>
<nav th:replace="index :: navbar"></nav>
<div class="container">
    <label for="sender">Nadawca</label>
    <p id="sender" th:text="${sender}"></p>
    <label for="topic">Temat</label>
    <p id="topic" class="padd-top-bott-10px padd-left-5px b-col-white width-50per" th:text="${messageTopic}"></p>
    <label for="text">Wiadomość</label>
    <p id="text" class="padd-top-bott-10px padd-left-5px b-col-white width-50per" th:text="${messageText}"></p>

    <div style="padding-top: 4em">
        <label for="replayForm">Odpowiedz</label>
        <form id="replayForm" action="#" th:object="${message}" th:action="@{/sendMessage}" th:method="post">
            <label for="replayTopic">Temat</label>
            <input id="replayTopic" name="topic" class="form-control width-50per" type="text"
                   th:value="'Re:' + ${messageTopic}">
            <label for="messageText">Wiadomość</label>
            <textarea id="messageText" class="form-control width-50per" maxlength="1000" th:field="*{message}" rows="10"
                      placeholder="Wiadomość"></textarea>
            <input type="hidden" name="auctionOwner" th:value="${auctionOwner}">
            <input type="hidden" name="auctionId" th:value="${auctionId}">
            <button type="submit" class="btn btn-primary fa fa-check">Wyślij</button>
        </form>
    </div>

</div>

</body>
</html>