*{


}

body{
    background: #f2f4f5 !important;
    font-family: "Source Sans Pro" !important;
}

.error{
    border: solid #e15b5b1c 1px;
    border-radius: 50px;
    padding: 1em;
    margin: 10px;
    text-align: center;
    color: red;
    font-weight: 600;
    background-color: #e15b5b1c
}
.list-image{
max-width: 15em;
}

.table-list{
    width: 100%;
    border-collapse: separate;
    border-spacing: .5em;
}

.table-row{

}

.table-data-image{
    padding: 1em;
    border: solid 1px gray;
    border-radius: 10px;

}

.table-data{
    width: 70em;
    border: solid 1px grey;
    border-radius: 10px;
    text-align: left;
    border-collapse: separate;
    border-spacing: 1em;
    font-family: "Source Sans Pro";



}
a:hover{
    color: black !important;
    text-decoration: none !important;
}
.b-col-green-grey{
    background: #eaefed;
}

.b-col-white{
    background: white;
}

.disp-flex{
    display: flex;
}

.f-wgh-600{
    font-weight: 600 !important;
}
.f-wgh-200{
    font-weight: 200;
}
.f-col-black{
    color: black;
}
.f-col-red{
    color: red;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}

.f-size-large{
    font-size: large;
}
.margin-1em{
    margin: 1em;
}
.min-width-17em{
    min-width: 17em;
}
.tx-al-cent{
    text-align: center;
}
.tx-align-left{
    text-align: left;
}
.tx-align-right{
    text-align: right;
}
.padd-10px{
    padding: 10px;
}
.padd-top-bott-10px{
    padding: 10px 0;
}
.padd-left-5px{
    padding-left: 5px;
}
.padd-5per{
    padding: 5%;
}
.padd-0{
    padding: 0 !important;
}
.width-40per{
    width: 40%;
}
.width-50per{
    width: 50% !important;
}
.width-100per{
    width: 100%;
}
.v-al-top{
    vertical-align: top;
}
.v-al-bottom{
    vertical-align: bottom;
}


.mx-width-25prc{
    max-width: 25% !important;
}
.img-carousel {
    width: 31em;
    height: 18em !important;
    object-fit: scale-down;
}
.side-menu-list{
    list-style: none;
}
.index-side-menu{
    vertical-align: top;
    display: inline-block;
    height: 100%;
    min-width: 20%;
    min-height: 1em;

}

.index-content {
    display: inline-block;
    min-height: 1em;
    width: 60%;
    min-width: 60%;
}

.index-total-content{
    margin: 5%;
    min-width: 90%;
    display: inline;
}
.side-menu-item:hover{
    color: #6c6c79 !important;
}




